



  <div>

<!-- posts start -->
<div class="postsContainer  d-flex flex-column justify-content-center align-items-center ">
  <!-- start -->
<div class="_post   mt-3  border border-1  p-3  bg-white rounded">
 <div class="img_post d-flex justify-content-between">
  <div><img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
    <span>Alaa Ahmed</span></div>
    <i class="fa-solid fa-pen pt-1"></i>
 </div>
<p class="py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus doloremque commodi voluptate omnis beatae esse.</p>
<hr>
<div class="event d-flex justify-content-between px-5">
  <i class="fa-solid fa-comment"></i>
  <i class="fa-solid fa-heart"></i>

</div>
</div><!--end-->

  <!-- start -->
  <div class="_post  border border-1  p-3 mt-3 bg-white rounded">
    <div class="img_post d-flex justify-content-between">
     <div><img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
       <span>Alaa Ahmed</span></div>
       <i class="fa-solid fa-pen pt-1"></i>
    </div>
   <p class="py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus doloremque commodi voluptate omnis beatae esse.</p>
   <hr>
   <div class="event d-flex justify-content-between px-5">
     <i class="fa-solid fa-comment"></i>
     <i class="fa-solid fa-heart"></i>

   </div>
   </div><!--end-->
 <!-- start -->
 <div class="_post  border border-1  p-3 mt-3 bg-white rounded">
  <div class="img_post d-flex justify-content-between">
   <div><img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
     <span>Alaa Ahmed</span></div>
     <i class="fa-solid fa-pen pt-1"></i>
  </div>
 <p class="py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus doloremque commodi voluptate omnis beatae esse.</p>
 <hr>
 <div class="event d-flex justify-content-between px-5">
   <i class="fa-solid fa-comment"></i>
   <i class="fa-solid fa-heart"></i>

 </div>
 </div><!--end-->






 <!-- start -->
 <div class="_post   mt-3 border border-1  p-3 bg-white rounded">
  <div class="img_post d-flex justify-content-between">
   <div><img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
     <span>Alaa Ahmed</span></div>
     <i class="fa-solid fa-pen pt-1"></i>
  </div>
 <p class="py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus doloremque commodi voluptate omnis beatae esse.</p>
 <hr>
 <div class="event d-flex justify-content-between px-5">
   <i class="fa-solid fa-comment"></i>
   <i class="fa-solid fa-heart"></i>

 </div>
 </div><!--end-->




  <!-- start -->
<div class="_post  mt-3  border border-1  p-3 bg-white rounded">
  <div class="img_post d-flex justify-content-between">
   <div><img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
     <span>Alaa Ahmed</span></div>
     <i class="fa-solid fa-pen pt-1"></i>
  </div>
 <p class="py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus doloremque commodi voluptate omnis beatae esse.</p>
 <hr>
 <div class="event d-flex justify-content-between px-5">
   <i class="fa-solid fa-comment"></i>
   <i class="fa-solid fa-heart"></i>

 </div>
 </div><!--end-->


 
</div><!--end posts-->

    </div>


