
        <div class="rounded  border border-1 d-flex flex-column  justify-content-start ps-3 mb-5 h-100 mt-3">


      <!-- start -->
          <div class=" d-flex  justify-content-start align-items-center     mt-3   position-relative ">
            <figure class=" info_img">
              <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="" class=" rounded-circle " style="width: 70px; height: 70px;">
            </figure>
           <div class="ps-5">
            <h4>Alaa Ahmed </h4>
            <p>Full Stack Developer/PHP</p>

           </div>
           <div class="edit     position-absolute ">
            <i class="fa-solid fa-pen me-2"           data-bs-toggle="modal" data-bs-target="#enameEdit" data-bs-whatever="@mdo"   ></i>
            <i class="fa-solid fa-plus"></i>
          </div>
          </div>  <!-- send -->
          <hr>
          <!-- start -->
            <h6>Profile Compeletness:<h6>
            <div class="progress w-75">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>

            </div><!-- send -->

          <hr>
          <!-- start  -->
          <div class="education position-relative">
            <h6>Education</h6>
            <ul>
              <li>lorem</li>
            </ul>


            <div class="edit     position-absolute ">
              <i class="fa-solid fa-pen me-2"         data-bs-toggle="modal" data-bs-target="#education" data-bs-whatever="@mdo"></i>
              <i class="fa-solid fa-plus"                       data-bs-toggle="modal" data-bs-target="#educationAdd" data-bs-whatever="@mdo"></i>
            </div>
          </div><!-- send -->



            <hr>
           <!-- start -->
          <div class="  mt-3 position-relative">
            <div class="">
              <h4>Full Stack Developer/PHP</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas omnis distinctio explicabo nulla alias facere corrupti dolorem vel harum unde, sint cumque laborum ipsa eum commodi, debitis, totam libero exercitationem!</p>
            <p>skills is :</p>
              <ul>
              <li>php</li>
              <li>laravel</li>
              <li>js</li>
              <li>css</li>
            </ul>
            </div>


            <div class="edit     position-absolute ">
              <i class="fa-solid fa-pen me-2"                    data-bs-toggle="modal" data-bs-target="#aboutMeEdit" data-bs-whatever="@mdo"></i>
              <i class="fa-solid fa-plus" data-bs-toggle="modal" data-bs-target="#aboutMeAdd" data-bs-whatever="@mdo"></i>
            </div>
          </div><!-- send -->


                    <hr>
               <!-- start  -->
               <div class=" position-relative">
                <div>
                  <h4>Work History</h4>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, tempora!</p>
                </div>


                <div class="edit     position-absolute ">
                  <i class="fa-solid fa-pen me-2"   data-bs-toggle="modal" data-bs-target="#workAdd" data-bs-whatever="@mdo"></i>
                  <i class="fa-solid fa-plus"         data-bs-toggle="modal" data-bs-target="#workedit" data-bs-whatever="@mdo"></i>
                </div>
              </div><!-- send -->


<!-- name -->
<div class="nameModel">

<!-- start -->
<div class="modal fade" id="enameEdit" tabindex="-1" aria-labelledby="enameEditLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="enameEditLabel">edit name </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
<!-- start -->


</div>

<!-- education -->
<div class="educationModal">
<!-- start  -->
              <div class="modal fade" id="education" tabindex="-1" aria-labelledby="educationLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="educationLabel">New message</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="mb-3">
                          <label for="recipient-name" class="col-form-label">Recipient:</label>
                          <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="mb-3">
                          <label for="message-text" class="col-form-label">Message:</label>
                          <textarea class="form-control" id="message-text"></textarea>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Send message</button>
                    </div>
                  </div>
                </div>
              </div>
<!-- end -->





<!-- start -->

<div class="modal fade" id="educationAdd" tabindex="-1" aria-labelledby="educationAddLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="educationAddLabel">edu Add </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>


            </div>



<!-- about me -->

<div class="aboutMe">

<!-- start -->

<div class="modal fade" id="aboutMeEdit" tabindex="-1" aria-labelledby="nameLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="nameLabel">edu Add </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-aboutMeEdit" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

<!-- start -->
<div class="modal fade" id="aboutMeAdd" tabindex="-1" aria-labelledby="nameLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="nameLabel">aboutMe Add </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-aboutMeAdd" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

</div>
<!-- work history -->

<div class="work">

<!-- start -->
<div class="modal fade" id="workAdd" tabindex="-1" aria-labelledby="nameLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="nameLabel">work Add </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-aboutMeAdd" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

<!-- start -->
<div class="modal fade" id="workedit" tabindex="-1" aria-labelledby="nameLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="nameLabel">work edit </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-aboutMeAdd" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

</div>
